<div class="container p-4">
    <div class="row">
        {{#each productos}}
            <div class="col-md-m3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{productname}}
                        </h3>
                        <p class="m-2">{{description}}</p>
                        <p>{{price}}</p>
                        <p>{{timeago created_at}}</p>
                        <a href="/products/delete/{{id}}" class="btn btn-danger">Eliminar producto</a>
                        <a href="products/edit/{{id}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay productos registrados todavia</p>
                    <a class="btn btn-primary btn-lg" href="/products/add">Agregar producto</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>